.page_left_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding-right: 50px;
}

.page_left_bottom_box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.page_left_bottom_box>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.page_left_top_img {
  width: 100%;
  height: 100%;
}


.page_left_bottom_btn {
  width: 80%;
  height: 50px;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
}